/* ##################### Bloc deroulant creation departement ##################### */

#bloccreadpt {
	width: 777px;
	height: 80px; /* Ajuster hauteur selon contenu */
	background: #BEBEBE;
	color: white;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
	line-height: 33px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

/* ################### Bloc saisie de modifications departement ################### */

.newsaisie
{
	width: 700px;
	height: 29px;
	background: #999999;
	color: white;
	font-size: 16px;
	font-family: 'Lucida Grande';
	text-align: center;	
	border: hidden;
	position: relative;
	z-index: 2;
}


/* Bloc nom titre */
.nomtitredpt
{
	width: 700px;
	height: 29px;
	background: #a8a8a8;
	float: left;
	margin-top: 2px;
	margin-left: 1px;
	margin-right: 1px;
	display: block;
	text-align: center;
	line-height: 29px;
	color: white;
}