/* ##################### Bloc deroulant creation batiment ##################### */

#bloccreabat {
	width: 777px;
	height: 103px; /* Ajuster hauteur selon contenu */
	background: #BEBEBE;
	color: white;
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
	line-height: 33px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

/* ################### Bloc saisie de modifications batiment ################### */

/* Champ modif nom et adresse */
.newsaisie
{
	width: 349px;
	height: 29px;
	background: #999999;
	color: white;
	font-size: 16px;
	font-family: 'Lucida Grande';
	text-align: center;	
	border: hidden;
	position: relative;
	z-index: 2;
}