/* ######################## ELEMENTS MENU ######################## */

/* Barre menu */
.topbar
{
	height: 33px;
	width: 100%;
	top: 0;
	left: 0;
	background: url(../images/1.png);
	position: fixed;
	
	color: white;
	font-weight: bold;
	font-family: "Lucida Grande", Arial;
	font-size: 12px;
	line-height: 33px;
	text-align: center;
}

/* Bouton menu */
.btnbar_l
{
	height: 33px;
	width: 160px;
	float: left;
	background: url(../images/2.png);
	margin-left: 1px;
}

.btnbar_r
{
	height: 33px;
	width: 160px;
	float: right;
	background: url(../images/2.png);
	margin-right: 1px;
}

.btnbar_l:hover, .btnbar_r:hover
{
	background: url(../images/3.png);
}



/* ######### BLOC DEROULANT GESTION ######### */
.deroule_gest
{
	width: 160px;
	height: 0px;
	background: gray;
	position: fixed;
	text-align: center;
	color: white;
	left: 47px;
	top: 33px;
	overflow: hidden;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	opacity: 0.9;
}

#btndgest {
	width: 156px;
	height: 33px;
	margin-top: 2px;
	margin-left: 2px;
	background: #959595;
	text-align: center;
	line-height: 33px;
	font-size: 13px;
}

#btndgest:hover {
	background: #5F5F5F;
}

/* ######### BLOC DEROULANT COMPTE ######### */
.deroule_compte
{
	width: 160px;
	height: 0px;
	background: gray;
	position: fixed;
	text-align: center;
	color: white;
	top: 33px;
	right: 1px;
	overflow: hidden;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	opacity: 0.9;
}