body
{
	font-family: "Lucida Grande", Arial;
}

/* Titre tableau consultation */

.headNom
{
	width: 300px;
	height: 29px;
	background: #a8a8a8;
	float: left;
	margin-top: 2px;
	margin-left: 1px;
	margin-right: 1px;
	display: block;
	text-align: center;
	line-height: 29px;
	color: white;
}

.headBat
{
	width: 234px;
	height: 29px;
	background: #a8a8a8;
	float: left;
	margin-top: 2px;
	margin-left: 1px;
	margin-right: 1px;
	display: block;
	text-align: center;
	line-height: 29px;
	color: white;
}

.headCap
{
	width: 80px;
	height: 29px;
	background: #a8a8a8;
	float: left;
	margin-top: 2px;
	margin-left: 1px;
	margin-right: 1px;
	display: block;
	text-align: center;
	line-height: 29px;
	color: white;
}