.barreOnglet
{
	height: 25px;
	width: 940px;
	background: transparent;
	display: block;
}

.onglet1, .onglet2
{
	height: 25px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: block;
	text-align: center;
	color: white;
	line-height: 25px;
	background: gray;
	float: left;
}

.onglet1
{
	width: 940px;
}

.onglet2
{
	width: 470px;
}

.blocOnglet
{
	width: 940px;
	background: #DDDDDD;
	display: block;
	/* border: 1px solid #BEBEBE; */
}

#tabPDF
{
	border-spacing: 4px;
}

td
{
	width: 300px;
	border-color: transparent;
	background: #BBB;
	color: white;
	text-align: center;
}

.btnPDF:hover
{
	background: gray;
}

.imgPDF
{
	width: 30px;
}